*.pyc
*.p
*.pk
__pycache__/
*.zip
build/
# IDE files
.idea/
.vscode/
ElectricityLCI.sln
ElectricityLCI.pyproj
# egg files
*.egg-info/
.vs/
.DS_Store

# notebooks
*.ipynb
*.ipynb_checkpoints

.spyproject/
.spyproject/codestyle.ini
.spyproject/encoding.ini
.spyproject/vcs.ini
.spyproject/workspace.ini

# downloaded excel files and csv transformations
/*.csv
electricitylci/data/**/*.*

electricitylci/modelconfig/*.json
electricitylci/modelconfig/testing*.yml

# output files
electricitylci/output/*

# internal files
tests/

# Whitelist
!electricitylci/data/petroleum_inventory/*.*
!electricitylci/data/EFs/*.*
!electricitylci/data/renewables/**/*.csv
!electricitylci/data/coal/**/*.csv
!electricitylci/data/*.yml
