*.csv
*.xlsx
*.csv
*.csv
electricitylci/chk.csv
*.pyc
*.p
electricitylci/__pycache__/elci_database_generator.cpython-36.pyc
*.pyc
*.xlsx
*.xlsx
electricitylci/__pycache__/elci_database_generator.cpython-36.pyc
electricitylci/save.p
*.pyc
electricitylci/data/Dict_gen.spydata
*.zip

# IDE files
.idea/
.vscode/
