# Check Python versions = "version Python 3.8.2 (64-bit)."
# This requirements document was generated in the following way:
# 1. Create a new python virtual environment.
# 2. Install packages in this environment from the previous requirements file in Github
# 3. Delete the existing requirements file.
# 4. Generate this requirements file.
# This method ensures that all installed packages are in the requirements file, which
# includes packages that are sub-requirements of other packages.

git+git://github.com/USEPA/Federal-LCA-Commons-Elementary-Flow-List@v1.0.2#egg=fedelemflowlist
git+git://github.com/USEPA/standardizedinventories@v0.9.2#egg=StEWI
numpy>=1.1        # NumPy is the fundamental package for array computing with Python.
pandas>=0.24      # Powerful Python data analysis toolkit.
olca-ipc>=0.0.6   # A Python package for calling openLCA functions from Python.
openpyxl>=2.5     # Python library to read/write Excel 2010 xlsx/xlsm/xltx/xltm files.
matplotlib>=2.2   # Python plotting package.
seaborn>=0.9      # Statistical data visualization.
sympy>=1.2        # Computer algebra system (CAS) in Python.
xlrd>=1.1         # Library for developers to extract data from Microsoft Excel legacy spreadsheet files (xls).
pyyaml>=5.1       # YAML parser and emitter for Python.

# Note: This file replaces use of setup.py to install Virtual Environment.
# Either method has been tested and works.